name: Windows tests

on:
  push:
    paths-ignore:
      - '*.md'
      - '*.asciidoc'
      - '.editorconfig'
      - 'docs/**'
    branches:
      - main
    tags:
      - "*.*.*"
  pull_request:
    paths-ignore:
      - '*.md'
      - '*.asciidoc'
      - '.editorconfig'
      - 'docs/**'

permissions:
  contents: read
  checks: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

defaults:
  run:
    shell: cmd

jobs:
  tests:
    runs-on: windows-2022

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - run: |
          git fetch --prune --unshallow --tags
          echo exit code $?
          git tag --list
        name: Fetch Tags

      - uses: actions/cache@v4
        name: NuGet package cache
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.[cf]sproj*') }}
          restore-keys: |
            ${{ runner.os }}-nuget

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          global-json-file: ./global.json

      - run: ./build.bat build -s true
        name: Build

      - run: ./build.bat test -s true
        name: Test